button.bedrock, .bedrock-btn {
	font-family: 'Minecraft';
	position: relative;
	display: inline-block;
	background: #C6C6C6;
	padding: 8px;
	margin: 1px;
	font-size: 16px;
	color: #4C4C4C;
	border-top: 2px solid #F7F7F7;
	border-left: 2px solid #F7F7F7;
	border-bottom: 2px solid #656465;
	border-right: 2px solid #656465;
	outline: 2px solid #131313;
}

button.bedrock:not(:disabled):not(.disabled)::before, button.bedrock:not(:disabled):not(.disabled)::after, .bedrock-btn:not(.disabled)::before, .bedrock-btn:not(.disabled)::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 2px;
}

button.bedrock:not(.dark)::before, button.bedrock:not(.dark)::after, .bedrock-btn:not(.dark)::before, .bedrock-btn:not(.dark)::after {
	background: #C0BFC0;
}

button.bedrock::before, .bedrock-btn::before {
	top: -2px;
	right: -2px;
}

button.bedrock::after, .bedrock-btn::after {
	bottom: -2px;
	left: -2px;
}

button.bedrock.selected, .bedrock-btn.selected {
	background: #8B8B8B;
	border-top-color: #5A5B5A;
	border-left-color: #5A5B5A;
	border-bottom-color: #DFDFDF;
	border-right-color: #DFDFDF;
}

button.bedrock:not(:disabled):not(.disabled):hover, .bedrock-btn:not(.disabled):hover {
	background: #43A01C;
	color: #FFFFFF;
	border-top-color: #37D61E;
	border-left-color: #37D61E;
	border-bottom-color: #037300;
	border-right-color: #037300;
	outline: 2px solid #FFFFFF;
}

button.bedrock:hover::before, button.bedrock:hover::after, .bedrock-btn:hover::before, .bedrock-btn:hover::after {
	background: #43A01C !important;
}

button.bedrock:disabled, button.bedrock.disabled, .bedrock-btn.disabled {
	background: #757575;
	border-color: #757575;
	color: #B2B2B2;
}

button.bedrock.dark, .bedrock-btn.dark {
	background: #3A3A3A;
	color: #FFFFFF;
	border-top-color: #4E4E4E;
	border-left-color: #4E4E4E;
	border-bottom-color: #212121;
	border-right-color: #212121;
}

button.bedrock.dark::before, button.bedrock.dark::after, .bedrock-btn.dark::before, .bedrock-btn.dark::after {
	background: #373737;
}
